<!DOCTYPE html>
<html lang="en" class="[word-break:break-word]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "SMT Influx Sync" %>
    </.live_title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/phoenix@1.7.10/priv/static/phoenix.min.js"></script>
    <script defer src="https://unpkg.com/phoenix_live_view@0.20.2/priv/static/phoenix_live_view.min.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        let csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content")
        let liveSocket = new window.LiveView.LiveSocket("/live", window.Phoenix.Socket, {params: {_csrf_token: csrfToken}})
        liveSocket.connect()
        window.liveSocket = liveSocket
      })
    </script>
  </head>
  <body class="bg-slate-50 antialiased text-slate-900">
    <%= @inner_content %>
  </body>
</html>
